<!DOCTYPE html>
<html>
<head>
    <title>Credit card</title>
</head>
<body>
<form action="{{ shopperResultUrl }}" class="paymentWidgets" data-brands="{{ brands }}"></form>
<script src="{{ scriptSrc }}"></script>
</body>
</html>