<!DOCTYPE html>
<html>
<head>
    <title>Credit card</title>
    <style>
        body {
            font-family: sans-serif;
        }

        /* workaround chrome layout being broken with 320px wide window */
        @media (max-width: 480px) {
            .wpwl-label-brand {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<form action="{{ shopperResultUrl }}" class="paymentWidgets" data-brands="{{ brands }}"></form>
<script>
var wpwlOptions = {
    locale: "de",
    style: "plain",
}
</script>
<script src="{{ scriptSrc }}"></script>
</body>
</html>